[include]
    path = ~/.gitlocal
[core]
	excludesfile = ~/.gitignore_global
[pager]
   diff = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '
[credential]
	helper = cache
[diff]
    context = 6
    colorMoved = default
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = true
[user]
	email = stephen.fairchild@researchsquare.com
	name = Stephen Fairchild
