[include]
    path = ~/.gitlocal
[core]
	excludesfile = ~/.gitignore_global
    pager = delta
#[pager]
#    diff = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '
[credential]
	helper = cache
[diff]
    context = 6
    colorMoved = default
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = true
[delta]
    side-by-side = true
    line-numbers = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    navigate = true
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
[interactive]
    diffFilter = delta --color-only
[user]
	email = stephen.fairchild@researchsquare.com
	name = Stephen Fairchild
